<template>
  <div id="app">
    <div v-show="!checkStarted">
      <button @click="checkProcesses" class="btn-start">start check processes health</button>
    </div>
    <div v-show="checkStarted">
      <button @click="clearInterval" class="btn-stop">stop check processes health</button>
      <div v-show="waitingResults" class="msg fade-in">Waiting for the next check results...</div>
    </div>
    <div class="processes">
      <div
        v-for="process in processes"
        :key="process.port"
        class="process fade-in"
        :style="{ 'background-color': process.color }"
      >
        <p>{{process.ip +':'+ process.port}}</p>
        <p>{{process.health}}</p>
        <p>{{process.timeStamp}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import processService from "@/processes.service.js";

export default {
  name: "App",
  components: {},
  data() {
    return {
      processes: [],
      checkStarted: false,
      waitingResults: false,
      configInterval: 0,
      interval: null
    };
  },
  created() {
    this.getInterval();
  },
  methods: {
    async getInterval() {
      const res = await processService.getConfigInterval();
      this.configInterval = res.data;
    },
    checkProcesses() {
      this.checkStarted = true;
      this.waitingResults = true;
      this.getHealthFromAllProcess();
      this.interval = setInterval(
        this.getHealthFromAllProcess,
        this.configInterval
      );
    },
    async getHealthFromAllProcess() {
      this.processes = [];
      this.waitingResults = true;
      const res = await processService.getHealthFromAllProcess();
      this.processes = res.data || [];
      this.waitingResults = false;
    },
    clearInterval() {
      clearInterval(this.interval);
      this.checkStarted = false;
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.processes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.process {
  height: 160px;
  width: 160px;
  border: solid 1px;
  margin: 16px;
  padding: 5px;
}
.msg {
  margin: 16px;
  font-size: 50px;
  text-align: center;
}
.btn-start {
  background-color: #44c767;
  border-radius: 5px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 32px;
  text-decoration: none;
}
.btn-start:hover {
  background-color: #cef0d6;
  color: #44c767;
}
.btn-stop {
  background-color: #db4545;
  border-radius: 5px;
  border: 1px solid #8d1616;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 32px;
  text-decoration: none;
}
.btn-stop:hover {
  background-color: #ecd5d5;
  color: #db4545;
}
.fade-in {
  animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
</style>
